
body.RRR1 {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  background-image: url("https://media.istockphoto.com/id/1758416916/photo/excercise-equipment-in-a-modern-gym.webp?b=1&s=170667a&w=0&k=20&c=WhbsyDg2oB5Oh3VMIvuQ6C51fx2co_gL3VFSW-Z6VxQ=");
  background-size: cover;
  background-repeat: no-repeat;
}

.card1 {
  width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 8px rgba(110, 13, 13, 0.1);
  overflow: hidden;
}

.card-header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 18px;
}

.card-body {
  padding: 40px;
  background-color: grey;
}

.contact-details {
  margin-bottom: 20px;
}

.contact-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.contact-value {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.message {
  height: 80px; 
}

.RRR {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.RRR:hover {
  background-color: orangered;
}


.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 60px; 
  height: 40px;
  border-radius: 50%;
}
