.about-us-page {
    background-image: url("https://www.shutterstock.com/image-photo/muscular-man-showing-muscles-on-600nw-1686329977.jpg"); 
    background-size: cover;
    background-position: center;
    min-height: 120vh;
    background-repeat: no-repeat;
    margin-top: -10px;
}

.about-us-container {
    max-width: 600px;
    margin: auto;
    background-color: rgba(255, 248, 248, 0.46); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transform: translate(0, 50%);
}

h2 {
    font-size: 32px;
    margin-bottom: 20px; 
    font-family: Arial, sans-serif; 
    color: #333; 
}

p {
    font-size: 18px; 
    line-height: 1.6;
    margin-bottom: 20px; 
    font-family: Arial, sans-serif;
    color: #020f09; 
    text-align: justify; 
}