.con1{
    background-color: #333;
    
}
.p1{
    color:white;
    text-align: center;
}
.p2{
    color:white;
    text-align: center;
}
.p3{
    color: white;
    text-align: center;
}
.pp{
    color:white;
    text-align: center;
}
.clg{
    color:white;
    text-align: center
}